<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1030381352952-hq42sa324f7e2mt26qr6sm207b90oau8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1030381352952-hq42sa324f7e2mt26qr6sm207b90oau8</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1030381352952-dv39gse13utu2a52cancthiatrj4bopj.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDekl65bTlZqvHRwecvD3iJ1HempCmvYw4</string>
	<key>GCM_SENDER_ID</key>
	<string>1030381352952</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.app.coral</string>
	<key>PROJECT_ID</key>
	<string>ucsb-coral</string>
	<key>STORAGE_BUCKET</key>
	<string>ucsb-coral.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1030381352952:ios:bf93fe50a7e77d142a880d</string>
</dict>
</plist>